@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import 'lib/swiper-bundle.min.css';

// ____ADDITIONAL CODE____
* {
  font-family: 'IBM Plex Sans', sans-serif;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  &.shadow:after {
    content: "";
    display: block;
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,.78);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

img {
  vertical-align: bottom;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul{
  margin: 0;
}

.burger {
  cursor: pointer;
  width: 25px;
  z-index: 100;
  display: none;
  transition: 0.58s .5s;


  @media (max-width: 920px) {
    display: block;
    padding-top: 5px;
  }

  @media (max-width: 425px) {
    width: 25px;
  }

  span {
    display: block;
    font-size: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 6px;
    transition: 0.58s .5s;

    @media (min-width: 290px) and (max-width: 360px) {
      margin-bottom: 5px;
    }
  }

  &.open {
    margin-top: 9px;
    transition: 0.58s .5s;
    span {
      &:nth-child(1) {
        transform: rotate(405deg);
        background: #9E77ED;
        transition: 0.58s .5s;
      }

      &:nth-child(2) {
        opacity: 0;
        transition: 0ms;
        background: #9E77ED;
        transition: 0.58s .5s;
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -17px;
        background: #9E77ED;
        transition: 0.58s .5s;
      }
    }
  }
}

.new-style{
  &.header{
    background: #ffff;
    transition: 0.6s;
  }
  
  &.header__logo svg path{
    // @media (max-width: 920px) {
      fill: #9E77ED;
      transition: 0.58s .5s;
      background: transparent;
    // }
  }

  &.header__find path{
    @media (max-width: 920px) {
      fill: #9E77ED;
      transition: 0.58s .5s;
      background: transparent;
    }
  }

  &.header__check{
    background: #6941C6;
    color: #fff;
    border: transparent;

    &:hover{
      background: #bba8e9;
      color: #ffff;
      cursor: pointer;

      a{
        color: #6941C6;
      }
    }

  }
}

.find-js{
  &.header__list{
    display: none;
  }

  &.header__find{
    position: absolute;
    top: 10px;

    path{
      fill: #98A2B3;
      transition: 0.3s;
    }
  }

  &.header__test{
    display: flex;
  }
}

.container {
  max-width: 1200px;
  padding: 0px 25px;
  margin: auto;

  @media (max-width: 1220px) {
    max-width: 1000px;
  }

  //tablet screen
  @media (max-width: 820px) {
    width: auto;
  }

  @media (max-width: 600px) {
    padding: 0 16px;
  }

  //phone screen
  @media (max-width: 370px) {
    width: auto;
  }

  @media (max-width: 320px) {
    width: 100%;
  }
}

.bold{
  font-weight: bold;
}

.purple{
  font-weight: bold;
  color: #6941C6;
}

.grey{
  color: #0000003a;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background: #F4EBFF;
  margin-top: 16px;
  cursor: pointer;

  @media (max-width: 380px) {
    padding: 16px;

  }
}

.button-txt{
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #6941C6;

  @media (max-width: 380px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.button-arrow{
  path{
    fill: #6941C6;
  }
}

// ____MAIN CODE____
.header{
  background: #9E77ED;
  transition: 0.58s .5s;
  position: relative;
  z-index: 4;
  &.new-style{
    background: #ffff;
    transition: 0.4s .5s;
  }

  &__logo svg path{
    fill: #ffff;
    transition: 0.58s .5s;
  }

  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    align-items: center;
    padding: 10px 0;


    @media (max-width: 820px) {
      // padding: 10px 0;
    }
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__line{
    position: absolute;
    left: 0;
    padding-right: 100%;
    z-index: 999;
    border-top: 1px solid rgba(211, 219, 231, 0.5);
  }



  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    margin-top: 0px;
    list-style: none;

    @media (max-width: 920px) {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      gap: 0;
      width: 100%;
      justify-content: left;
      align-items: start;
      background: #ffff;

      flex-direction: column;
      transform: translateY(-300%);
      transition: 1.5s ease-in-out;
      z-index: 5;
    }
  }

  .show{
    @media (max-width: 920px) {
      transform: translateY(6.1%);
      transition: 0.9s ease-in-out;
    }
  }

  &__list a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;

    @media (max-width: 960px) {
      font-size: 14px;
    }

    @media (max-width: 920px) {
      color: #000000;
    }

    &:hover{
      
    }

  }

  &__item{

    &:hover{
      .header__arrow{
        rotate: 180deg;
        transition: 0.3s;
      }
    }

  }

  &__test{
    display: none;
  }

  &__find{
    display: flex;
    margin-top: 13px;
    margin-left: 22px;
    margin-right: 22px;
    transition: 0.58s .5s;

    path{
      transition: 0.58s .5s;
      fill: #ffff;
    }

    &:hover{
      cursor: pointer;
    }
    
    @media (max-width: 920px) {
      margin-top: 5px;
    }
    
  }

  &__input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    background: #FFFFFF;
    border: 2px solid #6941C6;


    &:focus{
      outline: none;
    }
  }

  &__check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 19px;
    border: 1px solid #FFFFFF;
    gap: 8px;
    transition: 0.3s;

    @media (max-width: 920px) {
      display: none;
    }

    &:hover{
      transition: 0.3s;
      background: #ffff;

      a{
        color: #9E77ED;
      }

      .header__check-arrow{
        stroke: #9E77ED;
      }
    }

    a{
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }

  &__dropdown{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    left: 0;
    z-index: 999;
    background: #ffff;
    width: 100%;

    &--find{
      display: flex;
      height: 500%;
      transform: translateY(-160%);
      // transform: translateY(60%);
      padding: 0 30px;
      transition: 0.58s .5s;

      span{
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        color: #E4E7EC;
      }
    }
  }
  &__dropdown--find{
    &.open {
      transform: translateY(60%);
      transition: 0.3s;
    }
  }

  &__section{
    padding: 32px 24px;

    &:nth-child(2){
      width: 44.4%;

      @media (max-width: 920px) {
        display: none;
      }
    }

    &--categories{
      @media (max-width: 920px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    &--top{
      background: #F9FAFB;
    }

    &--brands{
      width: 100%;
      @media (max-width: 920px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &--usrs-choice{
      background: #D1FADF;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 352px;
    }
  }

  &__websites-list{
    position: relative;
    margin-bottom: 20px;
  }

  &__websites-link{
    @media (max-width: 920px) {
      display: none;
    }
  }

  &__websites-arrow{
    rotate: -90deg;
  }

  &__websites-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7.2px 0;
    height: 41px;
    margin: 10px 0;


    @media (max-width: 920px) {
    }
  }

  &__brands-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 1px solid #6941C6;
    text-decoration: none;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
  }

  &__btn-arrow{
    rotate: -90deg;
  }

  &__choice-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__full-rvw{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }

  &__rvw-img{
    rotate: -90deg;
  }

  &__choice-mid{
    display: flex;
    flex-direction: column;
    // overflow: hidden;
  }

  &__scrolling-box{
    display: flex;
    white-space: nowrap;
    background: #12B76A;
    overflow: hidden;
  }

  // &__scrolling-animation{
  //   display: inline;
  //   height: 15px;
  // }

  &__scrolling-txt{
    display: flex;
    background: #12B76A;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.56);
    flex-wrap: nowrap;
    animation: my-animation 15s linear infinite;
    width: 100%;
  }

  &__pprsowl-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 1px solid #6941C6;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
    padding: 16px 32px;
  }

  .bold{
    color: #ffff;
  }



  &__back-top{
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 920px) {
      display: inline;

      &:hover{
        cursor: pointer;
      }
    }
  }

  &__back-brnd{
    display: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 920px) {
      display: inline;

      &:hover{
        cursor: pointer;
      }
    }
  }

  &__main-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;

    @media (max-width: 920px) {
      display: none;

      
      img{
        display: none;
      }
    }
  }

  &__categories{
    display: grid;
    grid-template: 
    "cell cell cell cell"
    "cell cell cell cell";
    gap: 8px;
    margin-top: 32px;

    @media (max-width: 920px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 54px 16px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;

    @media (max-width: 920px) {
      width: 100%;
      padding: 16px 16px 16px 16px;
    }
  }

  &__card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 920px) {
      width: 100%;
    }
  }

  &__title{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }

  &__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;

    &--colored{
      color: #6941C6;
    }
  }

  &__card-arrow{
    path{
      fill: #9E77ED;
    }
  }

  &__top{
    margin-top: 32px;
    position: relative;
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
  }

  &__website{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__website-info{
    display: flex;
    flex-direction: column;
  }

  &__list-link a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }

  .line{
    position: absolute;
    border-bottom: 1px solid #E4E7EC;
    width: 100%;
    // z-index: 999;
    @media (max-width: 920px) {
      
    }
  }

}

.sections{
  display: flex;
  position: fixed;
  background: #ffff;
  transform: translateY(-120%);
  transition: 0.3s;
  width: 100%;

  &.open{
    transform: translateY(33px);
    transition: 0.3s;

    @media (max-width: 920px) {
      transform: translateX(0);
      transform: translateY(3.4%);
    }
  }

  @media (max-width: 920px) {
    transform: translateX(-300%);
    height: 100%;
  }
}

.main{
  background: #9E77ED;
  position: relative;

  &__box{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 110px;
    padding-top: 48px;
    justify-content: space-between;

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &__info-box{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 44%;
    gap: 136px;

    @media (max-width: 600px) {
      width: auto;
    }

    @media (max-width: 380px) {
      
    }
  }

  &__info{

  }

  &__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #53389E;

    &--white{
      color: #FFFFFF;
    }

    @media (max-width: 920px) {
      font-size: 48px;
      line-height: 64px;
    }

    @media (max-width: 600px) {
      width: 100%;
    }

    @media (max-width: 425px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__text{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #6941C6;

    @media (max-width: 920px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    transition: 0.3s;
    width: 78%;
    padding: 16px 37px 16px 32px;
    gap: 21px;
    margin-bottom: 48px;
    border: 1px solid transparent;
    text-decoration: none;

    @media (max-width: 1250px) {
      width: auto;
      justify-content: space-between;
    }

    @media (max-width: 920px) {
      padding: 10px 16px;
      width: auto;
    }

    @media (max-width: 600px) {
      position: absolute;
      bottom: 0;
      padding: 10px 16px;
      width: 100%;
      left: 0;
      right: 0;
    }

    @media (max-width: 380px) {
      width: auto;
      margin-bottom: 8px;
    }

    &:hover{
      transition: 0.3s;
      background: #c1a3ff;
      border: 1px solid #ffff;

      .main__button-text{
        color: #ffff;
      }
      
      .main__arrow{
        path {
          fill: #ffff;
        }
      }
    }

  }

  &__button-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
    text-decoration: none;

    @media (max-width: 920px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__arrow{
    @media (max-width: 920px) {
      width: 13px;
      height: 13px;
    }
  }

  &__background{
    overflow: hidden;
  }

  &__rectangle{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;

    @media (max-width: 920px) {
      right: 0;
      width: 457px;
      height: 392px;
    }

    @media (max-width: 600px) {
      right: 0;
    }

    @media (max-width: 380px) {
      width: 394px;
      height: 246px;
    }
  }

  &__img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;

    @media (max-width: 1220px) {
      right: 5%;
    }

    @media (max-width: 920px) {
      width: 273px;
      height: 468px;
    }

    @media (max-width: 600px) {
      position: relative;
      margin: auto;
      z-index: 0;
    }

    @media (max-width: 425px) {
      width: 170px;
      height: 290px;
    }
  }
}

.statistic{
  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-top: 32px;

    @media (max-width: 790px) {
    }

    @media (max-width: 520px) {
      flex-direction: column;
    }

    @media (max-width: 380px) {
      gap: 8px;
    }
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 32px 24px 32px;
    gap: 32px;
    background: #F9FAFB;
    text-align: left;
    width: 100%;

    @media (max-width: 790px) {
      padding: 16px;
      gap: 24px;
    }

    @media (max-width: 380px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 380px) {
      gap: 0px;
    }
  }

  &__emoji{
    font-weight: 300;
    font-size: 60px;
    line-height: 80px;
    color: #101828;

    @media (max-width: 790px) {
      font-size: 48px;
      line-height: 64px;
    }

  }

  &__number{
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #101828;

    @media (max-width: 790px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #98A2B3;

    @media (max-width: 790px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.reviews{
  overflow: hidden;

  &__title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-top: 80px;

    @media (max-width: 650px) {
      display: inline-block;
      font-weight: 300;
      font-size: 38px;
      line-height: 40px;
    }

    @media (max-width: 380px) {
      display: inline-block;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__box{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;
    overflow: hidden;
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
    min-width: 262px;

    @media (max-width: 790px) {
    }

    @media (max-width: 380px) {
      width: 100%;
    }
  }

  &__card-top{
    display: flex;
    flex-direction: column;
    background: #D1FADF;
    width: 100%;
    
    @media (max-width: 790px) {
      // width: 100%;
    }

    img{
      margin: 32px 32px 0px 32px;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1), 0px 0px 6px -2px rgba(16, 24, 40, 0.05);
      // width: 100%;

      @media (max-width: 1250px) {
        width: auto;
      }

      @media (max-width: 790px) {
        width: 100%;
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
      }

    }
  }

  &__website{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #101828;
    margin: 32px 0 0 32px;
  }

  &__scroll-box{
    background: #12B76A;
    width: 384px;
    overflow: hidden;
    width: auto;
    
    // @media (max-width: 790px) {
    //   width: 100%;
    // }
  }

  &__scroll{
    white-space: nowrap;

    display: flex;
    background: #12B76A;
    text-transform: uppercase;
    color: #FFFFFF;
    flex-wrap: nowrap;
    animation: my-animation 45s linear infinite;
    width: 100%;

    @media (max-width: 1250px) {
      width: auto;
    }
  }

  @keyframes my-animation{
    from{
      transform: translateX(0%);
    } to {
      transform: translateX(-100%);
    }
  }

  &__card-info{
    padding: 32px 32px 0 32px;

    @media (max-width: 790px) {
      padding: 16px 16px 0 16px;
    }
  }

  &__info-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;

    @media (max-width: 790px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__info-list{
    
  }

  &__card-rating{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 32px 0 32px;

    @media (max-width: 790px) {
      padding: 16px 16px 0 16px;
    }
  }

  &__rating-box{
    display: flex;
    gap: 8px;
    align-items: center;


  }

  &__customers{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
    text-decoration: none;

    @media (max-width: 790px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__card-buttons{
    padding: 32px 32px 32px 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;

    @media (max-width: 790px) {
      padding: 16px;
      gap: 16px;
      width: 100%;
    }
  }

  &__visit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    background: #6941C6;
    color: #ffff;
    gap: 12.99px;
    text-decoration: none;

    @media (max-width: 790px) {
      font-size: 12px;
      line-height: 20px;
      width: 100%;
      padding: 10px 0px;
    }
  }

  &__link path{
    fill: #ffff;
  }

  &__full{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
    text-decoration: none;

    @media (max-width: 790px) {
      font-size: 14px;
      line-height: 20px;
      width: 100%;
    }
  }

  .swiper-1 {
    overflow: inherit;
  }

  .swiper-slide{
    width: 33.5%;
    @media (max-width: 790px) {
      width: 36%;
    }
    @media (max-width: 380px) {
      width: 100%;
    }
  }

  .swiper-wrapper{
    display: flex;
    flex-direction: row;
    overflow: inherit;
    gap: 30px;

    @media (max-width: 790px) {
      gap: 8px;
    }
  }

  .swiper-pagination {
    z-index: 20;
    bottom: auto;
    .swiper-pagination-bullet {
      background: #6941C6;
    }
  }
}

.categories{


  .swiper-wrapper {
    @media (min-width: 768px) {
      display: grid;
      grid-template:
        "crd crd crd crd"
        "crd crd crd crd";
      gap: 20px;
    }

    @media (max-width: 790px) {
      grid-template: 
      "crd crd"
      "crd crd"
      "crd crd"
      "crd crd";
      gap: 10px;
    }
  }

  &__title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-bottom: 36px;
    margin-top: 80px;

    @media (max-width: 650px) {
      display: inline-block;
      font-weight: 300;
      font-size: 38px;
      line-height: 40px;
    }

    @media (max-width: 380px) {
      display: inline-block;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__box{
    display: grid;
    grid-template: 
      "crd crd crd crd"
      "crd crd crd crd";
    gap: 20px;
  }


  &__card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 80px 16px 16px;
    background: #ffffff;
    border: solid 1px #12B76A;
    height: 100%;

    @media (max-width: 764px) {
      gap: 10px;
      // width: auto;
      max-width: 195px;
    }
  }

  &__top{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }

  &__info{
    display: flex;
    flex-direction: row;
  }

  &__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;
  }

  &__arrow{
    width: 18.5px;
    height: 18.5px;
    path{
      fill: #6941C6;
    }
  }
}

.author{
  &__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    background: #FFFFFF;
    border: 8px solid #F2F4F7;
    margin-top: 80px;
    position: relative;

    @media (max-width: 790px) {
      padding: 24px;
    }

    @media (max-width: 380px) {
      padding: 16px;
    }
  }

  &__about{
    display: flex;
    flex-direction: row;

    // @media (max-width: 590px) {
    //   flex-direction: column;
    // }
  }

  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #D0D5DD;
    margin-bottom: 32px;

    @media (max-width: 790px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
    }
  }

  &__phrase{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    color: #101828;
    margin-bottom: 64px;

    @media (max-width: 790px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 70%;

    @media (max-width: 1000px) {
      width: 63%;
    }

    @media (max-width: 790px) {
      gap: 16px;
      width: 50%;
    }

    @media (max-width: 590px) {
      width: 100%;
    }

    @media (max-width: 380px) {
    }
  }

  &__info-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;

    @media (max-width: 380px) {
      
    }
  }

  &__info-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }

  &__emoji{
    display: flex;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
  }

  &__info-text{
    display: flex;
    flex-direction: column;
    
  }

  &__item-ttl{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;

    @media (max-width: 790px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__item-txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;

    @media (max-width: 790px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__social{
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media (max-width: 590px) {
      margin-bottom: 338px;
    }

    @media (max-width: 380px) {
      margin-bottom: 338px;
    }
  }

  &__social-website{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    @media (max-width: 790px) {
      margin-top: 50px;
    }
  }

  &__social-link{
    text-decoration: none;

    @media (max-width: 790px) {
      display: none;
    }

  }

  &__image img{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: 950px) {
      width: 420px;
      height: 500px;
    }

    @media (max-width: 750px) {
      width: 360px;
      height: 440px;
    }

    @media (max-width: 590px) {
      left: 15%;
    }

    @media (max-width: 390px) {
      // display: inline-block;
      // position: absolute;
      width: 288px;
      height: 338px;
      left: 0;
    }
  }
}

.guestbook{

  &__box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background: #6941C6;
    max-height: 400px;
    overflow: hidden;
    position: relative;

    @media (max-width: 790px) {
      flex-direction: column;
      max-height: 100%;
    }
  }

  &__title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-top: 80px;
    margin-bottom: 32px;

    @media (max-width: 650px) {
      display: inline-block;
      font-weight: 300;
      font-size: 38px;
      line-height: 40px;
    }

    @media (max-width: 380px) {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__feedback-main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 32px 64px 32px;
    width: 100%;

    @media (max-width: 790px) {
      gap: 24px;
    }

    @media (max-width: 380px) {
      padding: 16px 16px 60px 16px;
    }
  }

  &__card-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__ttl{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;

    @media (max-width: 380px) {
      font-size: 16px;
      line-height: 24px;
    }

    &--main{
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;

      @media (max-width: 380px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &__date{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #667085;
  }

  &__txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #101828;

    @media (max-width: 380px) {
      font-size: 14px;
      line-height: 20px;
    }

    &--main{
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: #FFFFFF;

      @media (max-height: 790px){
        font-size: 16px;
        line-height: 24px;
      }

      @media (max-width: 380px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__student{
    display: flex;
    flex-direction: column;
  }

  &__name{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #101828;

    &--main{
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.56);

      @media (max-width: 380px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__university{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #667085;

    &--main{
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.56);

      @media (max-width: 380px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &__feedback-swiper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 76px;
    gap: 8px;

    @media (max-width: 790px) {
      flex-direction: row;
    }
  }

  .swiper-slide{
    @media (max-width: 380px) {
      width: 90%;
    }
  }

  .swiper-wrapper{
    @media (max-width: 790px) {
      flex-direction: row;
    }
  }

  &__swiper-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.1), 0px 0px 8px -4px rgba(16, 24, 40, 0.04);
  
    @media (max-width: 380px) {
      margin-bottom: 44px;
    }
  }

  .swiper-pagination {
    z-index: 30;
    .swiper-pagination-bullet {
      background: #fff;
    }
  }
}

.blog{

  &__title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-top: 80px;
    margin-bottom: 32px;

    @media (max-width: 650px) {
      display: inline-block;
      font-weight: 300;
      font-size: 38px;
      line-height: 40px;
    }

    @media (max-width: 380px) {
      display: inline-block;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__box{
    display: flex;
    flex-direction: row;
    gap: 16px;
    // width: 100%;
    justify-content: space-between;
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
    width: 30%;
  }

  &__card-image{
    width: 100%;
  }

  &__card-info{
    padding: 16px 16px 18px 16px;
    position: relative;
  }

  &__card-text{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 2px;
  }

  &__date{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }

  &__txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
  }

  &__likes{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #667085;
    margin-top: 16px;
  }

  &__more{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
    gap: 11.5px;
    margin-top: 50px;
  }

  &__corner{
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .swiper-3 {
    // overflow: hidden;
    overflow: inherit;
  }

  .swiper-slide{
    width: 33.5%;
    @media (max-width: 790px) {
      width: 36%;
    }
    @media (max-width: 380px) {
      width: 100%;
    }
  }

  .swiper-wrapper{
    display: flex;
    flex-direction: row;
    // overflow: inherit;
    gap: 30px;

    @media (max-width: 790px) {
      gap: 8px;
    }
  }

  .swiper-pagination {
    z-index: 20;
    bottom: auto;
    .swiper-pagination-bullet {
      background: #6941C6;
    }
  }
}

.subscribe{
  
  &__title{
    font-weight: 300;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    color: #101828;
    margin-top: 80px;
    margin-bottom: 8px;

    @media (max-width: 650px) {
      display: inline-block;
      font-weight: 300;
      font-size: 38px;
      line-height: 40px;
    }

    @media (max-width: 380px) {
      display: inline-block;
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;

    @media (max-width: 380px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__box{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-top: 32px;
    margin-bottom: 80px;

    @media (max-width: 790px) {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__input{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 36px 32px;
    gap: 32px;
    background: #FFFFFF;
    border: 1px solid #98A2B3;

    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #98A2B3;

    @media (max-width: 380px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 16px;
    }
  }

  &__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    background: #6941C6;
    color: #ffff;
    gap: 20px;
    width: auto;
    position: absolute;
    right: 32px;
    top: 32px;
    padding: 16px 32px;

    @media (max-width: 790px) {
      position: static;
      justify-content: space-between;
    }

    @media (max-width: 380px) {
      padding: 16px;
    }
  }
}

.footer{
  
  background: #F2F4F7;
  padding-top: 35px;
  overflow: hidden;


  &__box{
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;

    @media (max-width: 790px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__logo{
    margin-bottom: 50px;
  }

  &__column{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 35%;

    @media (max-width: 790px) {
      width: 100%;
    }
  }

  &__title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
    border-bottom: 1px solid #E4E7EC;
    width: 100%;
    padding-bottom: 18px;

    @media (max-width: 380px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__item-txt{
    display: block;
    width: 100%;

    @media (max-width: 380px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__item-arrow{
    display: block;

    path{
      fill: #98A2B3;
    }
  }

  .line{
    display: block;
    border-bottom: 1px solid #E4E7EC;
    width: 200%;
    margin-top: 48px;
    margin-left: -500px;
  }

  &__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;

    @media (max-width: 790px) {
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__copyright{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #98A2B3;
  }

  &__social{
    display: flex;
    gap: 40px;
  }
}