@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

// ____ADDITIONAL CODE____
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  margin: 0;
}

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul{
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 0px 25px;

  @media (max-width: 1200px) {
    margin: auto;
  }
}

// ____MAIN CODE____
.header{
  background: #9E77ED;

  &__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__line{
    position: absolute;
    left: 0;
    padding-right: 100%;
    z-index: 999;
    border-top: 1px solid rgba(211, 219, 231, 0.5);
  }

  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    margin-top: 0px;
    list-style: none;
  }

  &__list a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;

    &:hover{
      
    }

  }

  &__item{
      &:hover{
        .header__arrow{
          rotate: 180deg;
          transition: 0.3s;
        }
      }
  }

  &__find{
    margin-left: 22px;
    margin-right: 22px;

    &:hover{
      cursor: pointer;
    }
  }

  &__check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 19px;
    border: 1px solid #FFFFFF;
    gap: 8px;
    transition: 0.3s;

    &:hover{
      transition: 0.3s;
      background: #ffff;

      a{
        color: #9E77ED;
      }

      .header__check-arrow{
        stroke: #9E77ED;
      }
    }

    a{
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }

  &__dropdown{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    left: 0;
    // margin-top: 455px;
    z-index: 999;
    background: #ffff;
    width: 100%;
  }

  .sections{
    display: flex;
    position: fixed;
    background: #ffff;
    transform: translateY(-120%);
    transition: 0.3s;
    width: 100%;
  }

  .sectionss{
    display: flex;
    position: fixed;
    background: #ffff;
    transform: translateY(10%);
    transition: 0.3s;
    width: 100%;
  }

  &__section{
    padding: 32px 24px;

    &:nth-child(2){
      width: 44.4%;
    }

    &--categories{

    }

    &--top{
      background: #F9FAFB;
    }

    &--brands{
      width: 100%;
    }

    &--usrs-choice{
      background: #D1FADF;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 352px;
    }
  }

  &__websites-list{
    position: relative;
  }

  &__websites-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7.2px 0;
    height: 41px;
  }

  &__brands-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 1px solid #6941C6;
    text-decoration: none;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
  }

  &__btn-arrow{
    rotate: -90deg;
  }

  &__choice-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__full-rvw{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }

  &__rvw-img{
    rotate: -90deg;
  }

  &__choice-mid{
    display: flex;
    flex-direction: column;
  }

  &__scrolling-txt{
    background: #12B76A;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.56);
  }

  &__pprsowl-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 1px solid #6941C6;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
    padding: 16px 32px;
  }

  .bold{
    color: #ffff;
  }

  .open{
    transform: translateY(7.5%);
    transition: 0.3s;
  }

  &__main-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
  }

  &__categories{
    display: grid;
    grid-template: 
    "cell cell cell cell"
    "cell cell cell cell";
    gap: 8px;
    margin-top: 32px;
  }

  &__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 16px 54px 16px;
    background: #FFFFFF;
    border: 1px solid #E4E7EC;
  }

  &__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }

  &__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;

    &--colored{
      color: #6941C6;
    }
  }

  &__card-arrow{
    stroke: #9E77ED;
  }

  &__top{
    margin-top: 32px;
    position: relative;
  }

  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
  }

  &__website{
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__website-info{
    display: flex;
    flex-direction: column;
  }

  &__list-link a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }

  .line{
    position: absolute;
    border-bottom: 1px solid #E4E7EC;
    width: 100%;
    // z-index: 999;
  }

}

.main{
  background: #9E77ED;
  position: relative;

  &__rectangle{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  &__box{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 110px;
    padding-top: 48px;
    justify-content: space-between;
  }

  &__info-box{
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 38%;
    gap: 136px;
  }

  &__info{

  }

  &__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #53389E;

    &--white{
      color: #FFFFFF;
    }
  }

  &__text{
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #6941C6;
  }

  &__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #FFFFFF;
    transition: 0.3s;
    width: 61.2%;
    padding: 16px 37px 16px 32px;
    gap: 21px;

    &:hover{
      transition: 0.3s;
      background: transparent;
      border: 1px solid #ffff;

      .main__button-text{
        color: #ffff;
      }
      
      .main__arrow{
        stroke: #ffffff;
        fill: #ffff;
        color: #ffff;
      }
    }
  }

  &__button-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
    text-decoration: none;
  }

  &__arrow{
  }

  &__img{
    z-index: 1;
  }
}